.app {
  cursor: url(https://vignette.wikia.nocookie.net/crossout/images/c/c6/Cursor_ordinary.png/revision/latest?cb=20170627102414&path-prefix=ru), auto;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #141517; }

.app-page {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; }

.app-panel {
  -webkit-app-region: drag;
  height: 22px;
  background-color: #202225;
  display: flex;
  flex-direction: row-reverse; }
  .app-panel .logo {
    left: 0;
    position: absolute;
    color: #abacae;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem; }
  .app-panel .windowcontrol {
    display: flex;
    -webkit-app-region: no-drag;
    opacity: 0.6;
    width: 28px;
    justify-content: center;
    align-items: center; }
    .app-panel .windowcontrol:hover {
      cursor: pointer;
      background-color: #2c2f33; }

.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  background-color: #141517;
  padding: 1rem; }
  .sidebar .title {
    text-align: center;
    font-size: 16px;
    color: #abacae; }
  .sidebar table {
    font-family: "Poppins", sans-serif;
    padding: 0; }
    .sidebar table th {
      color: #72767d;
      font-weight: 300; }
    .sidebar table th, .sidebar table td {
      border-bottom: none;
      padding: 0; }
    .sidebar table tbody tr:nth-child(odd) {
      background: #2c2f33; }
      .sidebar table tbody tr:nth-child(odd) td:nth-child(2):after {
        content: "";
        text-align: right;
        position: absolute;
        margin-top: -35px;
        margin-left: 60px;
        width: 20px;
        height: 50px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #2c2f33 50%); }
    .sidebar table td {
      color: white;
      font-weight: 600; }
      .sidebar table td:nth-child(2) {
        max-width: 64px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .sidebar table td:nth-child(2):after {
          content: "";
          text-align: right;
          position: absolute;
          margin-top: -35px;
          margin-left: 60px;
          width: 20px;
          height: 50px;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), #141517 50%); }
      .sidebar table td sup {
        font-weight: 300; }
      .sidebar table td.img {
        text-align: center;
        padding: 3px; }
      .sidebar table td img {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto; }

section.content {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-width: 820 !important; }
section .filters {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #383b40;
  max-width: 820px; }
  section .filters .label {
    color: #72767d;
    font-weight: 600;
    padding-bottom: 2px; }
  section .filters .search {
    float: left;
    padding-right: 20px; }
    section .filters .search input[type="text"] {
      margin: 0;
      height: 40px;
      background-color: #141517;
      border-color: #2c2f33;
      color: white;
      border-radius: 0; }
  section .filters .rarities {
    width: 215px !important;
    padding-right: 0 !important; }
  section .filters .categories, section .filters .rarities {
    width: 390px;
    float: left;
    padding-right: 20px; }
    section .filters .categories .category, section .filters .rarities .category {
      position: relative;
      display: inline-block;
      border: 1px solid #72767d;
      padding: 4px;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      box-sizing: border-box; }
      section .filters .categories .category:hover, section .filters .rarities .category:hover {
        cursor: pointer;
        border-color: #141517; }
      section .filters .categories .category img, section .filters .rarities .category img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 30px;
        max-height: 30px; }
      section .filters .categories .category .rarity, section .filters .rarities .category .rarity {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 25px;
        width: 25px; }
        section .filters .categories .category .rarity.common, section .filters .rarities .category .rarity.common {
          background-color: #696969; }
        section .filters .categories .category .rarity.rare, section .filters .rarities .category .rarity.rare {
          background-color: #7288da; }
        section .filters .categories .category .rarity.epic, section .filters .rarities .category .rarity.epic {
          background-color: #bb61d0; }
        section .filters .categories .category .rarity.legendary, section .filters .rarities .category .rarity.legendary {
          background-color: #faa61a; }
        section .filters .categories .category .rarity.relic, section .filters .rarities .category .rarity.relic {
          background-color: #d2691e; }
section .items {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-width: 820px;
  height: 100%;
  background-color: #2c2f33; }
  section .items table th, section .items table td {
    border-bottom: none;
    padding: 0;
    font-weight: 600; }
  section .items table thead {
    color: #72767d;
    font-weight: 400; }
  section .items table tbody {
    border: 1px solid #72767d; }
    section .items table tbody tr:nth-child(odd) {
      background-color: #141517; }
    section .items table tbody td.img {
      text-align: center;
      padding: 1rem;
      padding-right: 1rem;
      width: 40px; }
    section .items table tbody td img {
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-left: auto;
      margin-right: auto; }

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto; }

div.name.common {
  color: #696969; }
div.name.rare {
  color: #7288da; }
div.name.epic {
  color: #bb61d0; }
div.name.legendary {
  color: #faa61a; }
div.name.relic {
  color: #d2691e; }
div.name.coin {
  vertical-align: sub;
  display: inline-block;
  background: url("../img/coin.png") 50% no-repeat;
  width: 16px;
  height: 16px; }
div.angle-up {
  vertical-align: sub;
  background-color: #43b581;
  -webkit-mask: url("../img/angle-up.svg") 50% no-repeat;
  mask: url("../img/angle-up.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.angle-down {
  vertical-align: sub;
  background-color: #f04747;
  -webkit-mask: url("../img/angle-down.svg") 50% no-repeat;
  mask: url("../img/angle-down.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.diff {
  background-color: yellow;
  -webkit-mask: url("../img/margin.svg") 50% no-repeat;
  mask: url("../img/margin.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }

img.common {
  border: 1px solid #696969;
  border-top: 4px solid #696969;
  background-color: rgba(170, 170, 170, 0.1); }
img.rare {
  border: 1px solid #7288da;
  border-top: 4px solid #7288da;
  background-color: rgba(0, 102, 204, 0.1); }
img.epic {
  border: 1px solid #bb61d0;
  border-top: 4px solid #bb61d0;
  background-color: rgba(185, 0, 255, 0.1); }
img.legendary {
  border: 1px solid #faa61a;
  border-top: 4px solid #faa61a;
  background-color: rgba(254, 160, 64, 0.1); }
img.relic {
  border: 1px solid #d2691e;
  border-top: 4px solid #d2691e;
  background-color: rgba(255, 103, 1, 0.1); }

/*# sourceMappingURL=main.css.map */
