.app {
  cursor: url(https://vignette.wikia.nocookie.net/crossout/images/c/c6/Cursor_ordinary.png/revision/latest?cb=20170627102414&path-prefix=ru), auto;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #2c2f33; }

.app-page {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; }

.app-panel {
  -webkit-app-region: drag;
  height: 22px;
  background-color: #202225;
  display: flex;
  flex-direction: row-reverse; }
  .app-panel .logo {
    left: 0;
    position: absolute;
    color: #abacae;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem; }
  .app-panel .windowcontrol {
    display: flex;
    -webkit-app-region: no-drag;
    opacity: 0.6;
    width: 28px;
    justify-content: center;
    align-items: center; }
    .app-panel .windowcontrol:hover {
      cursor: pointer;
      background-color: #2c2f33; }

.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  background-color: #141517;
  padding: 1rem; }
  .sidebar .title {
    text-align: center;
    font-size: 16px;
    color: #abacae; }
  .sidebar table {
    font-family: "Poppins", sans-serif;
    padding: 0; }
    .sidebar table th {
      color: #72767d;
      font-weight: 300; }
    .sidebar table th, .sidebar table td {
      border-bottom: none;
      padding: 0; }
    .sidebar table tbody tr:nth-child(odd) {
      background: #2c2f33; }
      .sidebar table tbody tr:nth-child(odd) td:nth-child(2):after {
        content: "";
        text-align: right;
        position: absolute;
        margin-top: -39px;
        margin-left: 68px;
        width: 20px;
        height: 59px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #2c2f33 50%); }
    .sidebar table td {
      color: white;
      font-weight: 600; }
      .sidebar table td:nth-child(2) {
        max-width: 64px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .sidebar table td:nth-child(2):after {
          content: "";
          text-align: right;
          position: absolute;
          margin-top: -39px;
          margin-left: 68px;
          width: 20px;
          height: 59px;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), #141517 50%); }
      .sidebar table td sup {
        font-weight: 300; }
      .sidebar table td.img {
        text-align: center;
        padding: 6px; }
      .sidebar table td img {
        vertical-align: middle;
        width: 48px;
        height: 48px;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto; }
        .sidebar table td img.common {
          border-top: 4px solid #696969;
          border-color: #696969;
          background-color: rgba(170, 170, 170, 0.1); }
        .sidebar table td img.rare {
          border-top: 4px solid #7288da;
          border-color: #7288da;
          background-color: rgba(0, 102, 204, 0.1); }
        .sidebar table td img.epic {
          border-top: 4px solid #bb61d0;
          border-color: #bb61d0;
          background-color: rgba(185, 0, 255, 0.1); }
        .sidebar table td img.legendary {
          border-top: 4px solid #faa61a;
          border-color: #faa61a;
          background-color: rgba(254, 160, 64, 0.1); }
        .sidebar table td img.relic {
          border-top: 4px solid #d2691e;
          border-color: #d2691e;
          background-color: rgba(255, 103, 1, 0.1); }

section.content {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  width: 100%;
  min-width: 820 !important;
  height: 40px;
  background-color: #383b40; }
section .label {
  color: #72767d;
  font-weight: 600;
  padding-bottom: 2px; }
section .search {
  float: left;
  padding-right: 20px; }
  section .search input[type="text"] {
    margin: 0;
    height: 40px;
    background-color: #141517;
    border-color: #2c2f33;
    color: white;
    border-radius: 0; }
section .rarities {
  width: 215px !important;
  padding-right: 0 !important; }
section .categories, section .rarities {
  width: 390px;
  float: left;
  padding-right: 20px; }
  section .categories .category, section .rarities .category {
    position: relative;
    display: inline-block;
    border: 1px solid #72767d;
    padding: 4px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box; }
    section .categories .category:hover, section .rarities .category:hover {
      cursor: pointer;
      border-color: #141517; }
    section .categories .category img, section .rarities .category img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 30px;
      max-height: 30px; }
    section .categories .category .rarity, section .rarities .category .rarity {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 25px;
      width: 25px; }
      section .categories .category .rarity.common, section .rarities .category .rarity.common {
        background-color: #696969; }
      section .categories .category .rarity.rare, section .rarities .category .rarity.rare {
        background-color: #7288da; }
      section .categories .category .rarity.epic, section .rarities .category .rarity.epic {
        background-color: #bb61d0; }
      section .categories .category .rarity.legendary, section .rarities .category .rarity.legendary {
        background-color: #faa61a; }
      section .categories .category .rarity.relic, section .rarities .category .rarity.relic {
        background-color: #d2691e; }

.full-width-container {
  width: 100%;
  max-width: 100%;
  clear: both;
  margin: 0 auto; }

div.name.common {
  color: #696969; }
div.name.rare {
  color: #7288da; }
div.name.epic {
  color: #bb61d0; }
div.name.legendary {
  color: #faa61a; }
div.name.relic {
  color: #d2691e; }
div.name.coin {
  vertical-align: sub;
  display: inline-block;
  background: url("../img/coin.png") 50% no-repeat;
  width: 16px;
  height: 16px; }
div.angle-up {
  vertical-align: sub;
  background-color: #43b581;
  -webkit-mask: url("../img/angle-up.svg") 50% no-repeat;
  mask: url("../img/angle-up.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.angle-down {
  vertical-align: sub;
  background-color: #f04747;
  -webkit-mask: url("../img/angle-down.svg") 50% no-repeat;
  mask: url("../img/angle-down.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.diff {
  background-color: yellow;
  -webkit-mask: url("../img/margin.svg") 50% no-repeat;
  mask: url("../img/margin.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }

/*# sourceMappingURL=main.css.map */
