.app {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #2c2f33; }

.app-page {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; }

.app-panel {
  -webkit-app-region: drag;
  height: 22px;
  background-color: #202225;
  display: flex;
  flex-direction: row-reverse; }
  .app-panel .logo {
    left: 0;
    position: absolute;
    color: #abacae;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem; }
  .app-panel .windowcontrol {
    display: flex;
    -webkit-app-region: no-drag;
    opacity: 0.6;
    width: 28px;
    justify-content: center;
    align-items: center; }
    .app-panel .windowcontrol:hover {
      cursor: pointer;
      background-color: #2c2f33; }

.sidebar {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #141517;
  padding: 1rem; }
  .sidebar .title {
    font-size: 30px;
    color: #abacae; }
  .sidebar table {
    font-family: "Poppins", sans-serif;
    padding: 0; }
    .sidebar table th {
      color: #72767d;
      font-weight: 300; }
    .sidebar table th, .sidebar table td {
      border-bottom: none;
      padding: 0; }
    .sidebar table tbody tr:nth-child(odd) {
      background: #2c2f33; }
      .sidebar table tbody tr:nth-child(odd) td:nth-child(2):after {
        content: "";
        text-align: right;
        position: absolute;
        margin-top: -42px;
        margin-left: 92px;
        width: 40px;
        height: 60px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #2c2f33 50%); }
    .sidebar table td {
      color: white;
      font-weight: 600; }
      .sidebar table td:nth-child(2) {
        max-width: 100px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .sidebar table td:nth-child(2):after {
          content: "";
          text-align: right;
          position: absolute;
          margin-top: -42px;
          margin-left: 92px;
          width: 40px;
          height: 60px;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), #141517 50%); }
      .sidebar table td sup {
        font-weight: 300; }
      .sidebar table td.img {
        text-align: center;
        padding: 6px; }
      .sidebar table td img {
        vertical-align: middle;
        width: 48px;
        height: 48px;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
        .sidebar table td img.common {
          border-top: 4px solid #696969;
          border-color: #696969;
          background-color: rgba(170, 170, 170, 0.1); }
        .sidebar table td img.rare {
          border-top: 4px solid #7288da;
          border-color: #7288da;
          background-color: rgba(0, 102, 204, 0.1); }
        .sidebar table td img.epic {
          border-top: 4px solid #6a0082;
          border-color: #6a0082;
          background-color: rgba(185, 0, 255, 0.1); }
        .sidebar table td img.legendary {
          border-top: 4px solid #faa61a;
          border-color: #faa61a;
          background-color: rgba(254, 160, 64, 0.1); }
        .sidebar table td img.relic {
          border-top: 4px solid #d2691e;
          border-color: #d2691e;
          background-color: rgba(255, 103, 1, 0.1); }

.content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1; }

div.name.common {
  color: #696969; }
div.name.rare {
  color: #7288da; }
div.name.epic {
  color: #6a0082; }
div.name.legendary {
  color: #faa61a; }
div.name.relic {
  color: #d2691e; }
div.name.coin {
  display: inline-block;
  background: url("../img/coin.png") 50% no-repeat;
  width: 16px;
  height: 16px; }
div.angle-up {
  background-color: #43b581;
  -webkit-mask: url("../img/angle-up.svg") 50% no-repeat;
  mask: url("../img/angle-up.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.angle-down {
  background-color: #f04747;
  -webkit-mask: url("../img/angle-down.svg") 50% no-repeat;
  mask: url("../img/angle-down.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }
div.diff {
  background-color: yellow;
  -webkit-mask: url("../img/margin.svg") 50% no-repeat;
  mask: url("../img/margin.svg") 50% no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px; }

/*# sourceMappingURL=main.css.map */
