$primary-color: #202225
$primary-text-color: #72767d
$light-color: #abacae
$darken-color: darken($primary-color, 5%)
$lighten-color: lighten($primary-color, 5%)

$common-color: #696969
$common-background-color: rgba(170, 170, 170, 0.1)
$rare-color: #7288da
$rare-background-color: rgba(0, 102, 204, 0.1)
$epic-color: #bb61d0
$epic-background-color: rgba(185, 0, 255, 0.1)
$legendary-color: #faa61a
$legendary-background-color: rgba(254, 160, 64, 0.1)
$relic-color: #d2691e
$relic-background-color: rgba(255, 103, 1, 0.1)

.app
  font-size: 12px
  font-family: "Poppins", sans-serif
  display: flex
  flex-direction: column
  width: 100vw
  height: 100vh
  background-color: $lighten-color

.app-page
  display: flex
  flex-direction: row
  flex: 1 1 auto

.app-panel
  -webkit-app-region: drag
  height: 22px
  background-color: $primary-color
  display: flex
  flex-direction: row-reverse

  .logo
    left: 0
    position: absolute
    color: $light-color
    text-decoration: none
    font-weight: 600
    padding-left: 1rem

  .windowcontrol
    display: flex
    -webkit-app-region: no-drag
    opacity: 0.6
    width: 28px
    justify-content: center
    align-items: center

    &:hover
      cursor: pointer
      background-color: $lighten-color

.sidebar
  display: flex
  flex-direction: column
  width: 400px
  background-color: $darken-color
  padding: 1rem

  .title
    text-align: center
    font-size: 16px
    color: $light-color

  table
    font-family: "Poppins", sans-serif
    padding: 0

    th
      color: $primary-text-color
      font-weight: 300

    th, td
      border-bottom: none
      padding: 0

    tbody
      tr
        &:nth-child(odd)
          background: $lighten-color

          td:nth-child(2):after
            content: ""
            text-align: right
            position: absolute
            margin-top: -39px
            margin-left: 68px
            width: 20px
            height: 59px
            background: linear-gradient(to right, rgba(255, 255, 255, 0), $lighten-color 50%)

    td
      color: white
      font-weight: 600

      &:nth-child(2)
        max-width: 64px
        padding-right: 10px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

        &:after
          content: ""
          text-align: right
          position: absolute
          margin-top: -39px
          margin-left: 68px
          width: 20px
          height: 59px
          background: linear-gradient(to right, rgba(255, 255, 255, 0), $darken-color 50%)

      sup
        font-weight: 300

      &.img
        text-align: center
        padding: 6px

      img
        vertical-align: middle
        width: 48px
        height: 48px
        border: 1px solid black
        margin-left: auto
        margin-right: auto

        &.common
          border-top: 4px solid $common-color
          border-color: $common-color
          background-color: $common-background-color

        &.rare
          border-top: 4px solid $rare-color
          border-color: $rare-color
          background-color: $rare-background-color

        &.epic
          border-top: 4px solid $epic-color
          border-color: $epic-color
          background-color: $epic-background-color

        &.legendary
          border-top: 4px solid $legendary-color
          border-color: $legendary-color
          background-color: $legendary-background-color

        &.relic
          border-top: 4px solid $relic-color
          border-color: $relic-color
          background-color: $relic-background-color

.content
  width: 100%
  padding: 1rem
  display: flex
  flex-direction: column
  flex: 1

// utils
div
  &.name
    &.common
      color: $common-color

    &.rare
      color: $rare-color

    &.epic
      color: $epic-color

    &.legendary
      color: $legendary-color

    &.relic
      color: $relic-color

    &.coin
      vertical-align: sub
      display: inline-block
      background: url("../img/coin.png") 50% no-repeat
      width: 16px
      height: 16px

  &.angle-up
    vertical-align: sub
    background-color: #43b581
    -webkit-mask: url("../img/angle-up.svg") 50% no-repeat
    mask: url("../img/angle-up.svg") 50% no-repeat
    display: inline-block
    width: 16px
    height: 16px

  &.angle-down
    vertical-align: sub
    background-color: #f04747
    -webkit-mask: url("../img/angle-down.svg") 50% no-repeat
    mask: url("../img/angle-down.svg") 50% no-repeat
    display: inline-block
    width: 16px
    height: 16px

  &.diff
    background-color: yellow
    -webkit-mask: url("../img/margin.svg") 50% no-repeat
    mask: url("../img/margin.svg") 50% no-repeat
    display: inline-block
    width: 16px
    height: 16px